/* Enter your custom styles here */
.boldElements{
    font-weight: bold;
    
    
    }
    
.negro{
        font-weight: bold;
        width: fit-content;
        border-left: crimson;
        
    
    }
.ProductRating {
    padding: 0.75rem;
}

.ProductRating .sapMRI {
    vertical-align: initial;
}
